<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>系统运行状态</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>系统运行状态</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>项目</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>应用名称</td>
                    <td>life-helper</td>
                </tr>
                <tr>
                    <td>运行环境</td>
                    <td>production</td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>
