# 日志文件
log/
logs/
*.log

# 依赖文件
node_modules/

# 运行时文件
run/
typings/

# 私密配置文件
config/config.local.js
config/config.unittest.js
config/config.test.js
config/config.prepub.js
config/config.prod.js

config/.git

# 内部测试用例
local-test/
test/temp
temp.js

# macOS 附加的文件
.DS_Store
app/.DS_Store

# 其他文件
package-lock.json

# sequelize 的数据库配置信息
database/config.json

# apidoc 输出文档
apidoc/

# 临时屏蔽
.travis.yml
appveyor.yml
.github/workflows/nodejs.yml
jsconfig.json
.github/
