# 日志文件
log/
logs/
*.log

# 依赖文件
node_modules/

# 运行时文件
run/
typings/


# 内部测试用例
local-test/
test/temp
temp.js

# macOS 附加的文件
.DS_Store
app/.DS_Store


# sequelize 的数据库配置信息
database/config.json

# apidoc 输出文档
output/
api/

# 临时屏蔽
.travis.yml
appveyor.yml
.github/workflows/nodejs.yml
jsconfig.json
.github/
